body {
    background-image: url("imagens/tarefaform.jpeg");  /*para inserir a imagem*/
    background-repeat: no-repeat;                       /*para a imagem nao repetir no plano de fundo*/
    background-size: cover;                             /*para pegar todo fundo*/
    background-attachment: fixed;                       /*para ficar fixa ao aumentar ou diminuir o navegador*/
    display: flex;                                      
    justify-content: center;
    margin-top: 200px;
}


.first {
    display: block;
    line-height: 20px;                                  /*para tirar o espaço entre linhas*/                            
}


h1 {
    font-size: 100px;
    color:#452a26;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

h2 {
    font-size: 40px;
    color:#452a26;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
}

.sucess-message {
    background-color: #93BDA0;
    line-height: 35px;   
    width: 900px;
    height: 65px;
    padding: 20px;
    border-radius: 15px;
    font-size: 30px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    display: none;
}

.error-message {
    background-color: #EE5542;  
    color: #ffff;
    width: 900px;
    height: 65px;
    padding: 10px;
    margin: 7px 0 8px 0;
    border-radius: 15px;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: bold;
    display: none;
}

form input,
form textarea,
form button {                                        /*para poder puxar os iputs precisa especificar com form input e o textearea e o button tnmb precisam ser especificados*/
    display: block;
    width: 900px;                                      /*largura*/    
    height: 65px;                                      /*altura*/ 
    margin-bottom: 9px;                                /*para espaçar em baixo de cada um*/
    padding: 8px;                                      /*espaçamento interno*/
    border-radius: 15px;
}

input, 
textarea, 
button {
    font-family: "Playfair Display", serif;
    font-optical-sizing:auto;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    color: black;
}

form textarea {
    resize: none;
    height: 180px;
}

form button:hover {
    background-color: #da887d;
    color: black;
}

form button {
    color: #ffff;
    font-size: 20px;
    border: none;
    cursor: pointer;
    background-color: #77413d;
}

input:focus, textarea:focus {
    outline-color: #320b08;
}

input.error {
    color: #EE5542;
    border-color: #EE5542;
    outline-color: #EE5542;
}
